body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  input[type="text"],
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  textarea {
    resize: vertical, horizontal; 
      height: 300px; 
      width: 300px;
  }
  
  
  
  .radio-buttons input{
    text-align: left;
    display:inline;
}